@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Space Grotesk", sans-serif;
        background-color: black;
    }

    html {
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .metaballs {
        position: fixed;
        min-width: 100dvw;
        min-height: 100dvh;
        z-index: -1;
        inset: 0;
    }

    .box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        z-index: 1;
        width: 600px;
        height: 600px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(22px);
        background: linear-gradient(to top right,
                rgba(255, 255, 255, 0.3) 0%,
                transparent 100%);
    }

    .box-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 70%;
        height: 500px;
        border-radius: 20px;
        padding: 10px 25px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(50px);
        background: linear-gradient(to top right,
                rgba(255, 255, 255, 0.3) 0%,
                rgba(255, 255, 255, 0.4) 5%,
                transparent 100%);
    }

    .header {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99;
        width: 80%;
        height: 60px;
        background-color: #ffff;
        border-radius: 50px 0px 0px 50px;
        font-family: "Unbounded", sans-serif;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .highlight {
        color: white;
        font-weight: 700;
    }

    .box-3 {
        position: absolute;
        top: 110%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        width: 80%;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(50px);
        background: linear-gradient(to top right,
                rgba(255, 255, 255, 0.2) 0%,
                transparent 100%);
    }

    .box-4 {
        position: absolute;
        top: 150%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        padding: 20px 80px;
        width: 100%;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.1);
    }


    .title {
        font-family: "Unbounded", sans-serif;
    }

    .btn {
        font-family: "Scape Grotesk", sans-serif;
        color: #fff;
        font-weight: bolder;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.22);
        background: linear-gradient(to top right,
                rgba(255, 255, 255, 0.1) 0%,
                transparent 100%);
        padding: 15px 25px;
        border-radius: 220px;
        display: block;
    }

}