@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100dvh;
        background-color: #000;
        color: #fff;
        font-family: "Space Grotesk", sans-serif;
    }

    html{
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .box {
        position: absolute;
        top: 50%;
        left: 30px;
        z-index: 2;
        transform: translateY(-50%);
        width: 600px;
        height: 600px;
        margin: auto;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(22px);
        border: 1px solid rgba(255, 255, 255, 0.4);
        box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.4);
        background: linear-gradient(to top right,
                rgba(255, 255, 255, 0.3) 0%,
                transparent 100%);

        & h3,
        p {
            font-family: "Space Grotesk", sans-serif;
        }
    }

    .box-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 500px;
        margin: auto;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(50px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);
        background: linear-gradient(to top right,
                rgba(255, 255, 255, 0.2) 0%,
                transparent 100%);
    }

    .box-3 {
        position: absolute;
        top: 180%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        width: 90%;
        margin-bottom: 50px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(50px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);
        background: linear-gradient(to top right,
                rgba(255, 255, 255, 0.2) 0%,
                transparent 100%);
    }

    .box-4 {
        position: absolute;
        top: 180%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 200px;
        margin-bottom: 50px;
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);
    }

    .header {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        z-index: 3;
        width: 90%;
        height: 60px;
        background-color: #ffff;
        border-radius: 50px 0px 0px 50px;
        font-family: "Unbounded", sans-serif;

    }

    .title {
        font-family: "Unbounded", sans-serif;
    }

    .home-root {
        position: relative;
        height: 100dvh;
        width: 100%;
    }

    .metaballs {
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    .highlight {
        color: white;
        font-weight: 700;
    }

    .btn {
        font-family: "Scape Grotesk", sans-serif;
        color: #fff;
        font-weight: bolder;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.22);
        background: linear-gradient(to top right,
                rgba(255, 255, 255, 0.1) 0%,
                transparent 100%);
        padding: 15px 25px;
        border-radius: 220px;
        display: block;
    }

}